html, body, #root {
    height: 100%;
}

body {
    line-height: 1.5;
}

body, .app {
    background: white;
}

.undecorated-anchor {
    text-decoration: none !important;
}

.floating-btn-bottom{
    position: fixed;
    right: 25px;
    bottom: 25px;
}

.post-view{
    padding: 50px 25px;
}

.post-view-post-btn {
    margin-top: 20px;
}

.padded-text{
    padding-left: 2.5%;
    padding-top: 1.5%;
}